.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-image: url("./components/img/FONDO\ PERGAMINO.jpg");
  background-size: cover;
  font-family: monospace; 
}


.ninja{
  position:absolute;
  height:220px;
  width:auto;
  top: 420px;
  left : 400px;
  z-index: 1;

}


.evil{
  position:absolute;
  height:220px;
  width:auto;
  top: 420px;
  left : 550px;
  z-index: 1;

}

.back
{
  position:absolute;
  padding-right: 5px;
  left : 0px;
  top: 340px;
  width:1300px;
  z-index: -1;
}

.mano{
  position:absolute;
  height:340px;
  width:auto;
  top: 314px;
  left :380px;

  z-index: 1;

}

.lanza{
  position:absolute;
  height:250px;
  width:auto;
  top: 390px;
  left : 130px;
  z-index: 1;

}

.maquina{
  position:absolute;
  left :-3%;
  top: 15%;
  /* top: 420px;
  left : 400px; */
  z-index: 1;
  font-size: 1.5em;

}

.masterintro{
  position:absolute;
  height:220px;
  width:auto;
  top: 355px;
  left : 550px;
  z-index: 1;

}

.aprendiz{
  position:absolute;
  height:220px;
  width:auto;
  top: 355px;
  left : 350px;
  z-index: 1;

}


.tachar{
  text-decoration: line-through;
}




