

/* .background{
  background-color: blueviolet;

} */


/* .ninja{
  position:absolute;
  height:200px;
  width:200px;
  top: 40px;
  left : 40px;
  z-index: 1;
}

.back
{
  position:absolute;
  width:1300px;
  z-index: -1;
} */


